.wrapper {
	position: relative;
	margin-left: -2.5px;
}

.wrapper span {
	display: inline-flex;
	align-items: center;
}

.filled {
	fill: var(--primary);
}

.star {
	padding-right: 2.5px;
	padding-left: 2.5px;
	transition: 0.2s;
	box-sizing: content-box;
}

.isEditable {
	cursor: pointer;
}

.error {
	border: 1px solid var(--red);
}

.errorMessage {
	position: absolute;
	bottom: -20px;
	left: 0;
	color: var(--red);
	white-space: nowrap;
}

