.advantage {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 40px;
	margin-bottom: 30px;
}

.title {
	margin-bottom: 20px;
}

.left {
	display: grid;
	row-gap: 17px;
	grid-template-rows: auto 1fr;
}

.line {
	width: 1px;
	margin: 0 auto;
	background: #D2D2D2;
}

.right {
	display: grid;
	align-items: center;
}
