.sortIcon {
	display: none;
}

.active {
	font-weight: bold;
	color: var(--primary);
}

.active .sortIcon {
	display: block;
}

.sort {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 40px;
}

.sort div {
	display: grid;
	grid-template-columns: 20px 1fr;
	cursor: pointer;
	align-items: center;
}

.sort div:not(.active) {
	grid-template-columns: 1fr;
}
